
.App {
  display: flex;
  font-family: 'Google Sans';
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.Title {
  text-align: center;
  font-size: 60px;
  margin: 20px;
  margin-bottom: 0px;
}

.Intro {
  text-align: center;
  margin: 20px;
}
